<div class="playBoard">
    <tr *ngFor="let row of grid; let i = index">
        <td *ngFor="let col of row; let j = index">
            <div class="cell" (mousedown)="onMouseDown(i,j)" (mouseover)="onMouseOver(i,j)" (mouseup)="onMouseUp()"
                    [ngClass]="{'active' : col==1, 'start': col==2, 'goal': col==3, 'path': col==5, 'visited': col==4}">
            </div>
        </td>
    </tr>
    <div class="d-flex justify-content-center">
        <div class="row">
            <button class="btn btn-success col-md-4 mx-1 my-1" [disabled]="buttonDisabled" (click)="solveGridWithAStar()">Solve With A*</button>
            <button class="btn btn-primary col-md-4 mx-1 my-1" [disabled]="buttonDisabled" (click)="cleanGrid()">Clear Board</button>
            <button class="btn btn-success col-md-4 mx-1 my-1" [disabled]="buttonDisabled" (click)="solveGridWithDjikstras()">Solve With Djikstra</button>
            <button class="btn btn-primary col-md-4 mx-1 my-1" [disabled]="buttonDisabled" (click)="clearSolution()">Clear Path</button>
            <app-presets (presetEmit)="grid = $event" (startAndEnd)="setStartAndEnd($event)"></app-presets>
        </div>
    </div>
</div>


