
.playBoard{
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;

    /*standard for text*/
    font-family: sans-serif;
    text-align: center;
    color: white;
}

* { box-sizing: border-box; }
table { margin: 10px; }
td {
    border: 1px solid #afd8f8;
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;
}

.active {
    background-color: #0c3547;
    height: 40px;
    width: 40px;
}

.start{
    background-image: url("../assets/arrow.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.goal{
    background-image: url("../assets/target.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}

.path{
    background-color: #FFFE6A;
    height: 40px;
    width: 40px;
}

.visited{
    background-color: #00BDEABF;
    height: 40px;
    width: 40px;
}

.cell {
    padding: 0;
    border: 0;
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
}

.solve{
    background-color: #108BEF;
    width: 250px;
    height: 50px;

}

i{
    position: relative;
}